.body-text {
  max-width: $max-width-text;
  margin: 0 auto;
  margin-bottom: 0em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;

  p,
  ul, ol, address {
    @include type-s-to-m;

    // font-family: $font-family // careful
    font-weight: normal;
    margin-bottom: 1em;

    &:last-child {
      margin-bottom: 0;
    }
  }

  p, address {
    position: relative;

    // margin-bottom: 1em
    // max-width: 42em
    strong, b {
      font-weight: bold;
    }

    em, i {
      font-style: italic;
    }
  }

  // *:last-child
  //   margin-bottom: 0 // ???
  h1 {
    @include type-l-to-xxxl;
  }

  h2 {
    @include type-l-to-xl;
    margin-bottom: 1rem;
  }

  h3 {
    @include type-m-to-l;
  }

  h4 {
    @include type-ml-to-l;

    font-family: $font-family;
    font-style: italic;
    margin-bottom: 0.5em;
    max-width: 35em;

    @include bp(min, breakpoint(m)) {
      margin-top: 1.5em;
      margin-bottom: 0.75em;
    }


    strong, b {
      display: inline-block;
      font-family: $font-family;
      font-style: normal;
      margin-right: 0.25em;
    }

    ~ p {
      @include unit(margin-left, 0.5);
    }

    + h4 {
      margin-top: 1em;
    }
  }

  h1, h2, h3, h4, h5, h6 {
    &:first-child {
      margin-top: 0 !important;
    }
  }

  strong, b {
    font-weight: bold !important;
  }

  cite {
   @include unit(margin-left, 0.25);
   @include unit(margin-right, 0.25);
   font-size: font-size(s)+px;
   font-weight: 400;
   font-style: normal;
   color: color(grey-medium);
   display: inline-block;
   width: 100%;
   &:before {
    content: '– ';
   }
  }

  figure {

    &:last-child {
      margin-bottom: 0;
    }

    img {
      width: auto;
      max-width: 100%;
    }
  }

  ul, ol {
    margin: 1.5em auto 1.5em auto;

    li {
      margin-bottom: 0.6em;
    }
  }

  ol {
    li {
      position: relative;
      list-style-position: inside;
      list-style-type: none;
      padding-left: 2em;
      counter-increment: list-item;

      &:before {
        position: absolute;
        top: 0;
        left: 0;
        width: 1.5em;
        content: counter(list-item) ".";
        font-size: 90%;
        text-align: right;
        font-weight: bold;
      }
    }
  }

  ul {
    li {
      position: relative;
      padding-left: 1.1em;

      &:before {
        content: "•";
        font-weight: bold;
        color: color(purple);
        position: absolute;
        left: 0;
        top: 0;
      }
    }
  }

  a {

  }

  &.is-small {
    max-width: none;

    p,
    h3, h4, h5, h6,
    ul, ol, address {
      @include type-s-to-m;
    }
  }

  &.has-two-cols {
    @include bp(min, breakpoint(m)) {
      @include unit(column-gap, .5);
      column-count: 2;
      & * {
        break-inside: avoid;
      }
    }
  }

  &.has-three-cols {
    @include bp(min, breakpoint(m)) {
      @include unit(column-gap, .5);
      column-count: 3;
      & * {
        break-inside: avoid;
      }
    }
  }

}

.caption-text {
  @include type-s-to-ml;

  font-family: $font-family;

  h3 {
    @include type-l-to-xl;

    margin-bottom: 0.25em;
  }
}

.purple-headlines {
  h1, h2, h3, h4, h5, h6 {
    color: color(purple);
  }
}
