.content {
  position: relative;
}

.page {
  overflow: hidden;
  position: relative;
  width: 100%;
  margin: 0 auto;
  max-width: 100%;
}

.grid-1 {
  & > .cell {
    @include unit(padding, 0.5);
  }
}

.grid-2-to-6 {
  display: flex;
  flex-wrap: wrap;
  margin-left: -.5em;
  margin-right: -.5em;
  justify-content: center;
  & > .cell {
    flex-grow: 0;
    flex-shrink: 0;
    width: calc(50% - 1em);
    margin: 0.5em;
    @include bp(min, breakpoint(s)) {
      width: calc(33% - 1em);
    }
    @include bp(min, breakpoint(m)) {
      width: calc(25% - 1em);
    }
    @include bp(min, breakpoint(ml)) {
      width: calc(20% - 1em);
    }
    @include bp(min, breakpoint(l)) {
      width: calc(16.666% - 1em);
    }
  }
}

.grid-1-to-2 {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  & > .cell {
    @include unit(padding, 0.5);
    width: 100%;
    @include bp(min, breakpoint(m)) {
      width: 50%;
    }
  }

  &--onethird {
    & > .cell {
    @include unit(padding, 0.5);
    width: 100%;
      &:first-child {
        @include bp(min, breakpoint(m)) {
          width: 33.33%;
        }
      }
      &:last-child {
        @include bp(min, breakpoint(m)) {
          width: 66.66%;
        }
      }
    }
  }

  &--twothirds {
    & > .cell {
    @include unit(padding, 0.5);
    width: 100%;
      &:first-child {
        @include bp(min, breakpoint(m)) {
          width: 66.66%;
        }
      }
      &:last-child {
        @include bp(min, breakpoint(m)) {
          width: 33.33%;
        }
      }
    }
  }
}

.grid-1-to-3 {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  & > .cell {
    @include unit(padding, 0.5);
    width: 100%;
    @include bp(min, breakpoint(m)) {
      width: 33.333%;
    }
  }
}

.grid-1-to-2,
.grid-1-to-3,
.grid-2-to-6 {
  &.is-vertically-centered {
    align-items: center;
  }
  &.is-bottom-aligned {
    align-items: flex-end;
  }
  &.has-equal-heights {
    & > .cell > * {
      height: 100%;
    }
  }
}

.grid-2-to-2 {
  display: flex;
  flex-wrap: wrap;
  margin-left: -.5em;
  margin-right: -.5em;
  justify-content: center;
  width: 100%;
  & > .cell {
    flex-grow: 0;
    flex-shrink: 0;
    width: calc(50% - 1em);
    padding: 0;
  }
}

.grid-3-to-3 {
  display: flex;
  flex-wrap: wrap;
  margin-left: -.5em;
  margin-right: -.5em;
  justify-content: center;
  width: 100%;
  & > .cell {
    flex-grow: 0;
    flex-shrink: 0;
    width: calc(33% - 1em);
    padding: 0;
    &--smallpadding {
      @include unit(padding, 0.125);
    }
  }
}

.grid-5-to-5 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  & > .cell {
    flex-grow: 0;
    flex-shrink: 0;
    width: calc(20% - 1em);
    padding: 0em;
  }
}

.grid-3-to-6 {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  & > .cell {
    @include unit(padding, 0.5);
    width: 33.33%;
    @include bp(min, breakpoint(m)) {
      width: 16.666%;
    }
  }
}

.cell {
  position: relative;
}

.cell.stretch {
  position: relative;
  align-self: stretch;
  flex-grow: 2;
}

.cell.has-half-padding {
  @include unit(padding, 0.25);
}

.cell.has-no-padding {
  padding: 0 !important;
}

.cell.has-no-top-padding {
  padding-top: 0 !important;
}

.cell.has-no-bottom-padding {
  padding-bottom: 0 !important;
}

.cell.has-no-left-padding {
  padding-left: 0 !important;
}

.cell.has-no-right-padding {
  padding-right: 0 !important;
}

.center-content {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.row {
  display: flex;
  align-items: center;
  flex-direction: row;
}
