// Type Sizes

@mixin font-size($size) {
  font-size: rem(font-size($size));
  line-height: line-height($size);
}

@mixin type($size) {
  @include font-size($size);
}

@each $key, $value in $font-sizes {
  .type-#{$key} { @include type(#{$key}); }
}

// Type Zoom

@mixin type-zoom($base-size, $breakpoints, $sizes) {
  @include font-size($base-size);
  $i: 1;
  @each $break in $breakpoints {
    @include bp(min, $break) {
      @include font-size(nth($sizes, $i))
    }
    $i: $i + 1;
  }
}

@mixin type-xs-to-s { @include type-zoom(xs, breakpoint(m), s); }
.type-xs-to-s { @include type-xs-to-s; }

@mixin type-s-to-m { @include type-zoom(s, breakpoint(m), m); }
.type-s-to-m { @include type-s-to-m; }

@mixin type-s-to-ml { @include type-zoom(s, breakpoint(m) breakpoint(ml), m ml); }
.type-s-to-ml { @include type-s-to-ml; }

@mixin type-s-to-l { @include type-zoom(s, breakpoint(m) breakpoint(ml), m l); }
.type-s-to-l { @include type-s-to-l; }

@mixin type-m-to-ml { @include type-zoom(m, breakpoint(m), ml); }
.type-m-to-ml { @include type-m-to-ml; }

@mixin type-m-to-l { @include type-zoom(m, breakpoint(s) breakpoint(m), m l l); }
.type-m-to-l { @include type-m-to-l; }

@mixin type-m-to-xl { @include type-zoom(m, breakpoint(s) breakpoint(m) breakpoint(ml), ml l xl); }
.type-m-to-xl { @include type-m-to-xl; }

@mixin type-l-to-xl { @include type-zoom(l, breakpoint(m), xl); }
.type-l-to-xl { @include type-l-to-xl; }

@mixin type-ml-to-xxl { @include type-zoom(ml, breakpoint(m) breakpoint(ml) breakpoint(l), l xl xxl); }
.type-ml-to-xxl { @include type-ml-to-xxl; }

@mixin type-ml-to-xl { @include type-zoom(ml, breakpoint(m) breakpoint(ml), l xl); }
.type-ml-to-xl { @include type-ml-to-xl; }

@mixin type-ml-to-xxl { @include type-zoom(ml, breakpoint(s) breakpoint(m) breakpoint(ml), l xl xxl); }
.type-ml-to-xxl { @include type-ml-to-xxl; }

@mixin type-ml-to-l { @include type-zoom(ml, breakpoint(m), l); }
.type-ml-to-l { @include type-ml-to-l; }

@mixin type-l-to-xxl { @include type-zoom(l, breakpoint(m) breakpoint(ml), xl xxl); }
.type-l-to-xxl { @include type-l-to-xxl; }

@mixin type-l-to-xxxl { @include type-zoom(l, breakpoint(s) breakpoint(m) breakpoint(ml), xl xxl xxxl); }
.type-l-to-xxxl { @include type-l-to-xxxl; }

@mixin type-l-to-xxxxl { @include type-zoom(l, breakpoint(xs) breakpoint(s) breakpoint(m) breakpoint(ml), xl xxl xxxl xxxxl); }
.type-l-to-xxxxl { @include type-l-to-xxxxl; }

@mixin type-xl-to-xxxl { @include type-zoom(l, breakpoint(xs) breakpoint(s) breakpoint(m), xl xxl xxxl); }
.type-xl-to-xxxl { @include type-xl-to-xxxl; }

@mixin type-xl-to-xxxxl { @include type-zoom(l, breakpoint(xs) breakpoint(s) breakpoint(m) breakpoint(ml), xl xxl xxxl xxxxl); }
.type-xl-to-xxxxl { @include type-xl-to-xxxxl; }

@mixin type-xxl-to-xxxxl { @include type-zoom(l, breakpoint(xs) breakpoint(s) breakpoint(m), xxl xxxl xxxxl); }
.type-xl-to-xxxxl { @include type-xxl-to-xxxxl; }

@mixin type-xxl-to-huge { @include type-zoom(l, breakpoint(s) breakpoint(m) breakpoint(ml), xxxl xxxxl huge); }
.type-xxl-to-huge { @include type-xxl-to-huge; }

@mixin type-xxxl-to-xxxxl { @include type-zoom(l, breakpoint(m) breakpoint(ml), xxxl xxxxl); }
.type-xxxl-to-xxxxl { @include type-xxxl-to-xxxxl; }


// Headlines
@mixin text-handwritten {font-family: $font-family--handwritten; }
.text-handwritten { @include text-handwritten }

@mixin text-tilted {
  display: inline-block;
  transform: rotate(-5deg);
  transform-origin: center center;
  padding-top: 1em;
  padding-bottom: 1em;
}
.text-tilted { @include text-tilted }

