@font-face {
  font-family: "Plume";
  src: url("../fonts/plume.woff2") format("woff2"), url("../fonts/plume.woff") format("woff");
  font-weight: normal;
}

@font-face {
  font-family: "Plume";
  src: url("../fonts/plume-bold.woff2") format("woff2"), url("../fonts/plume-bold.woff") format("woff");
  font-weight: bold;
}
